$static-font-path: "../../vendor/SLDS/assets/fonts/webfonts";
@import "./node_modules/@salesforce-ux/design-system/scss/index.scss";

.siteHeader {
  height: 10px;
  width: 100%;
  background-color: #5c2fda;
}